<link href="{{ url_for('static', path='/css/texts_listing.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/font-awesome.min.css') }}" rel="stylesheet">
<header>
    <h1 class="header-text"> Articles </h1>
    
</header>

<ul class="list-listings">
    {% for text in texts %}
    <li>
        <div class="listing-body">
            <h2><a href="http://localhost:8000/text/?text_id={{ text.id }}" class="wunder">{{ text.title }}</a></h2>
            <h4>{{ text.venue_name }} </h4>
            <p>
                {{ text.abstract }}
            </p>
            <div class="meta-info">
                <ul>
                    <li><i class="fa fa-calendar"></i> <small> {{ text.year }} </small></li>
                    <li><i class="fa fa-user"></i> <small> {{ text.authors[0].name }} et al </small></li>
                    <li><i class="fa fa-comment"></i> <small> {{ text.n_citation }} citations </small></li>
                    <li><a href="http://localhost:8000/text/?text_id={{ text.id }}" class="wunder"> Read more </a></li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
