<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">

<div class="container bootstrap snippets bootdey">
    <h1> Articles </h1>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-listings">
                {% for text in texts %}
                <li class="">
                    <div class="listing-body">
                        <h3><a href="http://localhost:8000/text/?text_id={{ text.id }}">{{ text.title }}</a></h3>
                        <h4>{{ text.venue_name }} </h4>
                        <p>
                            {{ text.abstract }}
                        </p>
                        <div class="meta-info">
                            <ul>
                                <li><i class="fa fa-calendar"></i> <small> {{ text.year }} </small></li>
                                <li><i class="fa fa-user"></i> <small> By {{ text.authors[0].name }} </small></li>
                                <li><i class="fa fa-comment"></i> <small> {{ text.n_citation }} citations </small></li>
                                <li class="stretch text-right"><a href="http://localhost:8000/text/?text_id={{ text.id }}" class=""> Read more </a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
